<%- include('partials/header')%>
<div class="ui main text container segment">
	<div class="ui huge header">
		Edit <%=blog.title%>
	</div>
	<form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" placeholder="title" value="<%=blog.title%>" required>
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="blog[image]" placeholder="image"  value="<%=blog.image%>">
		</div>
		<div class="field">
			<label>Content</label>
			<textarea name="blog[body]" placeholder="Enter the content" required><%=blog.body%></textarea>
		</div>
		<div class="field">
			<label>Author</label>
			<input type="text" name="blog[author]" placeholder="Enter the author"  value="<%=blog.author%>" required>
		</div>
		
		
		<input class="ui violet button" type="submit">
		
	</form>
</div>
<%- include('partials/footer')%>